{{#post}}
  <img class="media-object img-responsive center-block" src="{{image}}">

  <div class="text-center">
    <h1><a href="{{url}}">{{title}}</a>
    </h1>
    <h4>
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY "}}</time>by {{author.name}}</h4>
  </div>
  {{content}}
  <div class="row">
    <span>Tagged:</span>{{tags}}

    <span class="share pull-right">

      <a class="social-icon" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
        <i class="fa fa-google-plus"></i>
        <span class="hidden">Google+</span>
      </a>
      <a class="social-icon" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <i class="fa fa-twitter"></i>
        <span class="hidden">Twitter</span>
      </a>
      <a class="social-icon" href="http://service.weibo.com/share/share.php?url={{url absolute="true"}}&title={{encode title}}" onclick="window.open(this.href, 'weibo-share', 'width=550,height=235');return false;">
        <i class="fa fa-weibo"></i>
        <span class="hidden">Weibo</span>
      </a>

    </span>
  </div>
  <br>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
  var disqus_shortname = 'chromeism'; // required: replace example with your forum shortname
  var disqus_identifier = '{{post.id}}';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{/post}}
